/* type selectors */

body{
  font-family: Helvetica;
  text-align: center;
}

a{
  color: white;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}


/* classes*/

/* header stylizing */
.header{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer stylizing */
.footer{
  text-align: left;
  color: white;
  font-size: 11px;
  background-color: dimgray;
}

/* special background image at "page break" */
.pagebreak{
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ID selectors */
