/* type selectors */

body{
  font-family: Helvetica;
  text-align: center;
}

a {
  color: white;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

table{
  border: none;
  width: 100%;
  height: 50px;
  padding: 5px;
}

/* classes*/

/* +++++ header stylizing +++++*/
.header{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header p{
  color: white;
  font-size: 26px;
  font-weight: bold;
}

/* add a black "border" to the text in the header image, its really just a complicated shadow */
.header, .header p{
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;

}

/* get rid of the super ugly line under the links */
.header a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* +++++ footer stylizing +++++ */

/* dimgray page break bar */
.pagebreak{
  background-color: dimgray;

}

.portfolio{
  text-align: left;


}

.team{
  text-align: center;
}

.contact{
  text-align: right;
}
/* ID selectors */

.left{
  text-align: left;
}

.center{
  text-align: center;
  padding-left: 155px;
}

.right{
  text-align: right;
}
